extends _layout

block vars
  - var pageTitle = 'Thoughts'
  - var pageDescription = 'Thoughts & writings by Van Huy — STARTUP BUILDER & DIGITAL MARKETING.'
  - var pagePath = 'thoughts'
  - var bodyClass = 'thoughts'

mixin thought(date,title,href,source)
  .thought
    a.thought-title(href=href)
      span= title
    if source
      small.external= source
    //- small.date= date

block header

  p.chapter III
  h1#content Thoughts

block content

  section.container

    .thoughts-list

      h2.dateline 2026
      +thought("14/07/2026", "Chẳng hiểu đang viết cái gì", '/thoughts/entries/chang-hieu-dang-viet-cai-gi')
      +thought("13 tháng 7, 2026", "Giữa những ngày burn-out.", '/thoughts/entries/giua-nhung-ngay-burn-out')
      +thought("Tháng 6, 2026", "Đôi lời tự sự về chính bản thân.", '/thoughts/entries/nguyen-van-huy-la-ai')
      +thought("Tháng 6, 2026", "Liệu bản thân chúng ta có thể tự nhận ra vấn đề của mình? (Phần 2)", '/thoughts/entries/tu-nhan-thuc-p2')
      +thought("Tháng 6, 2026", "Liệu bản thân chúng ta có thể tự nhận ra vấn đề của mình?", '/thoughts/entries/tu-nhan-thuc')
      +thought("19 tháng 4, 2026", "Sinh nhật năm 21 tuổi của Huy.", '/thoughts/entries/sinh-nhat-21-tuoi')

      h2.dateline 2025
      +thought("19 tháng 4, 2025", "Sinh nhật năm 20 tuổi của Huy.", '/thoughts/entries/sinh-nhat-20-tuoi')

      h2.dateline 2023
      +thought("19 tháng 4, 2023", "Sinh nhật năm 18 tuổi của Huy.", '/thoughts/entries/sinh-nhat-18-tuoi')

      h2.dateline 2022
      +thought("19 tháng 4, 2022", "Sinh nhật năm 17 tuổi của Huy.", '/thoughts/entries/sinh-nhat-17-tuoi')

      h2.dateline 2021
      +thought("19 tháng 4, 2021", "Sinh nhật năm 16 tuổi của Huy.", '/thoughts/entries/sinh-nhat-16-tuoi')
