@font-face
  font-family: 'Manrope'
  src: url('/assets/fonts/manrope/Manrope-Variable.ttf') format('truetype')
  font-weight: 200 800
  font-display: swap
  font-style: normal

@font-face
  font-family: 'NewTitle-Variable'
  src: url('/assets/fonts/archive/2023/NewTitle-Variable.woff2') format('woff2'),
       url('/assets/fonts/archive/2023/NewTitle-Variable.woff') format('woff'),
       url('/assets/fonts/archive/2023/NewTitle-Variable.ttf') format('truetype')
  font-weight: 200 700
  font-display: block
  font-style: normal
