extends ../../_layout

block vars
  - var pageTitle = 'What if you said no?'
  - var pageDescription = ''
  - var pagePath = 'what-if-you-said-no'
  - var bodyClass = 'thought-detail'
  - var date = '12 March 2026'
  - var ogImage = 'og-bugs-no'
  - var earlierText = 'Case Study: lynnandtonic.com 2025 refresh'
  - var earlier = 'case-study-2025-refresh'

block content

  :markdown-it

    Early in my career, a coworker of mine inadvertently taught me something really valuable that I’ve carried with me ever since. 

    I was working for a small dev agency that was finally getting HR set up, after ten years in business. They sent out an employee agreement for us to sign with formalized rules and expectations. One of the rules was that any work done on work computers would belong to the company. Up until this point, the norm was to use our work computer as our personal computer too (and all of us did). This was of course a sticking point for a lot of us.

    My coworker, the most senior programmer at the company, said he wasn’t going to sign it. He didn’t want to maintain two machines so he wasn’t going to. And his personal work wasn’t theirs. I honestly hadn’t thought saying no was an option. I was curious what would happen and literally nothing did. Our CTO told HR that it was fine.

    In the grand scheme of tech industry things to disagree with, this is a pretty low stakes scenario. But what I saw was an employee being told to do something he disagreed with and saying no. Maybe only he could have done this, with his immense internal influence. But also maybe anyone could have and they just didn’t try.

    From that day I knew I wanted to position myself so I could always say no like he did. There’s layers to this of course: gaining experience and influence so I can say no confidently, finding and staying at jobs where leadership respects when I say it, and building up a safety net so I can say no with conviction (and walk away if I have to).

    You don’t *need* these things to say no, but it obviously makes it much easier. So when influential people with top-paying jobs do things they disagree with because they “have to”, I can’t help but wonder: Are you sure? Did you say no?

    And look, maybe you did. I hope you said it loud. Someone is watching you do that. Watching you lead. It could give them the permission they need to also say no (and we often all need to say it together). Or it could influence how they navigate their entire career, in constant pursuit of that courage.


